* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
.game-outer-container {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 50%;
    height: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.player-container {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 18px;
    color: white;
}

.player-container button {
    width: 60px;
    padding: 6px;
}